.board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 2px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: lightblue;
    border: 1px solid #111;
    cursor: pointer;
}

.game {
    display: flex;
    gap: 50px;
}