* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #365270;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 1px;
    margin-top: 5px;
}

.board.active {
    border: 1px solid yellow;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: #212529;
    border: 1px solid #365270;
    cursor: pointer;
}

.game {
    display: flex;
    gap: 200px;
    justify-content: space-between;
    margin: 40px 100px;
}

h1 {
    color: #f9032c;
    font-size: 40px;
    letter-spacing: 5px;
}

#heading {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-top: 10px;
}

#heading img {
    width: 48px;
    height: 48px;
}

.board-name {
    color: #edd309;
}

#randomize {
    padding: 10px 20px;
    background-color: #212529;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}